/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/dist
.DS_Store
/app/Config/config.php
/app/Config/database.php
/app/Config/core.php
.buildpath
.project
.settings/
/app/webroot/js/stammtisch/data.js
